/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
.inputContainer{
    display: flex;
    justify-content: center;
}
.cards{
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    .card{
        width: 200px;
        img{
            width: 150px;
        }
        .name{
            font-weight: 600;
        }
    }
}